# Konfigurasi database
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_DIALECT=

# Konfigurasi JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Konfigurasi server
PORT=
NODE_ENV=
